body{
	background-image: url(../img/pattern.jpg);
	margin: 0;
	padding: 0;
}
header{
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0;
}
#logo{
	float: left;
}
nav{
	width: 100%;
	height: 10%;
	position: sticky;
}
ul{
	float: right;
	list-style-type: none;
  	margin: 10;
  	padding: 10;
  	font-size: 20px;
}
ul li {
	display: inline-block;
}
ul a li{
	margin-right: 20px;
	font-weight: bold;
}
section{
	width: 960px;
	font-size: 15px;
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;	
	padding: 10px;
	background-color: white;
}
section div div{
	border-bottom: 2px solid grey;
	padding-top: 30px;
}
section div div a{
	text-decoration: none;
	font-family: 'Slabo 27px', serif;
}
section h1 {
	text-align: center;
}
footer{
	background-color: black;
	color: white;
	width: 100%;
	height: 8%;
	text-align: center;
	padding: 5px;
}